# Android
.gradle/
.idea/
build/
**/build/
local.properties
android/local.properties

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Signing
*.jks
*.keystore

android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/src/main/assets/public_backup/